<!-- <div class="wrapper">
    <header>
        <h2>Price Range</h2>
        <p>Use slider or enter min and max price</p>
    </header>
    <div class="price-input">

        <div class="field">
            <span>Min</span>
            <input type="number" class="input-min" value="2500">
        </div>
        <div class="seperator"></div>

        <div class="field">
            <span>Max</span>
            <input type="number" class="input-min" value="7500">
        </div>

        <div class="slider">
            <div class="progress"></div>
        </div>
        <div class="range-input">
            <input type="range" class="range-min" min="0" max="10000" value="2500">
            <input type="range" class="range-max" min="0" max="10000" value="7500">
        </div>
        
    </div>
    

</div>

<script src="script.js"></script>

<script>


const rangeInput = document.querySelectorAll(".range-input input"),
priceInput = document.querySelectorAll(".price-input input"),
range = document.querySelector(".slider .progress");
let priceGap = 1000;

priceInput.forEach(input =>{
    input.addEventListener("input", e =>{
        let minPrice = parseInt(priceInput[0].value),
        maxPrice = parseInt(priceInput[1].value);

        if ((maxPrice - minPrice >= priceGap) && maxPrice <= rangeInput[1].max){
            if(e.target.className === "input-min"){
                rangeInput[0].value = minPrice;
                range.style.left = ((minPrice / rangeInput[0].max) * 100) + "%";

            
            }else{
                rangeInput[1].value = maxPrice;
                range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";


            }

        }
    });
});



rangeInput.forEach(input =>{
    input.addEventListener("input", e =>{
        let minVal = parseInt(rangeInput[0].value),
        maxVal = parseInt(rangeInput[1].value);


        if((maxVal - minVal) < priceGap){
            if(e.target.className === "range-min"){
                rangeInput[0].value = maxVal - priceGap
            }else{
                rangeInput[1].value = minVal - priceGap;
            }
        }else{
            priceInput[0].value = minVal;
            priceInput[1].value = maxVal;
            range.style.left = ((minVal / rangeInput[0].max) * 100) +"%";
            range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
        }
    })
})

</script>


 -->

 <div class="col-lg-12">
    <div class="row product-lists">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 text-center strawberry">
            <div class="single-product-item" data-category="{{ product.category }}">
                <div class="product-image">
                    <a href="{% url 'single_product' product.slug %}">
                        <img src="{{ product.images.url }}" alt="" width="400" height="300">
                    </a>
                </div>
                <h3>{{ product.product_name }}</h3>
                <p class="product-price"><span></span>$ {{ product.price }}</p>
                <a href="{% url 'single_product' product.slug %}" class="cart-btn"> View </a>
            </div>
        </div>
        {% endfor %}
    </div>



 </div>







 ackground-color: #F28123;
    color: #051922;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    border: none !important;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 3px;



    <div class="flex-w flex-r-m p-b-10">
        {% if in_wishlist %}
        <a class="btn btn-outline-success flex-c-m size-116 bor14 p-lr-15 m-t-10" style="display: inline-block;">
            Added to Wishlist
        </a>

        {% else %}
        <a href="{% url 'add_to_wishlist' single_product.id %}"
            class="btn btn-outline-dark flex-c-m size-116 bor14 p-lr-15 m-t-10" style="display: inline-block;">
            Add to Wishlist
        </a>
        {% endif %}
    </div>