
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="{% static 'user/img/logo.png' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li ><a href="{% url 'Home' %}">Home</a>
									
								</li>
								<li><a href="about.html">About</a></li>
								<!-- <li><a href="#">Pages</a> -->
									<ul class="sub-menu">
										
										<li><a href="about.html">About</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="contact.html">Contact</a></li>
										
										<li><a href="{% url 'shop' %}">Shop</a></li>
									</ul>
								</li>
								<!-- <li><a href="news.html">News</a>
									<ul class="sub-menu">
										<li><a href="news.html">News</a></li>
										<li><a href="single-news.html">Single News</a></li>
									</ul>
								</li> -->
								<li><a href="contact.html">Contact</a></li>
								<li><a href="{% url 'shop' %}">Shop</a>
									
								
								</li>
    
                                
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="{% url 'cart' %}">
											<i class="fas fa-shopping-cart"></i>
										</a>
										<a class="wishlist" href="{% url 'wishlist' %}">
											<i class="fas fa-heart"></i>
										</a>
										<a class="user-profile" href="{% url 'user_profile' %}"> <!-- Replace 'profile' with your user profile URL -->
											<i class="fas fa-user"></i> <!-- Replace with your user profile icon class or image -->
										</a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
								
							</ul>

						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->


    
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


    {% endblock content %}