{% extends 'base.html' %} {% load static %} {% block content %}
{% include 'include/navbar.html' %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section cart-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>CONTENT</p>
                    <h1>Check Out Product</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
    <div class="container" style="margin-top: 5%;">
        <form id="checkoutForm" action="{% url 'place_order' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-accordion-wrap">
                        <div class="accordion" id="accordionExample">
                            <div class="card single-accordion">
                                <div class="card-header d-flex justify-content-center" id="headingOne"
                                    style="margin-top: 8%;">
                                    <h3><span class="orange-text">Billing</span> Address</h3>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="billing-address-form">
                                            <label for="billing_address">Select Billing Address:</label>
                                            <select name="billing_address" id="billing_address">
                                                <option value="{{ address.id }}" >Select an address</option>
                                                {% for address in addresses %}
                                                    <option value="{{ address.id }}">{{ address.street_address }}, {{ address.city }}, {{ address.state }}, {{ address.country }}</option>
                                                {% endfor %}
                                            </select>
                                            <a href="{% url 'add_address' %}" class="boxed-btn">Add New Address</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card" style="max-width: 300px;">
                        <div class="card-body">
                            <table class="order-details">
                                <thead>
                                    <tr>
                                        <th><span class="orange-text">Order </span> Details</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody class="order-details-body">
                                    
                                    {% for cart_item in cart_items %}
                                    <tr>
                                        <td>{{ cart_item.product.product_name }}</td>
                                        <td>Price:₹{{ cart_item.product.price }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tbody class="checkout-details">
                                    <tr>
                                        <td>quantity</td>
                                        <td>{{ quantity }}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>Total product price</td>
                                        <td>₹{{total}}</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping</td>
                                        <td>{{ shipping }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>₹{{ grand_total }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="hidden" value="COD" name="payment_mode">
                            <button type="submit" name="submit" class="btn cart-btn btn-block">COD | Place
                                Order</button>
                            <input type="hidden" value="Razorpay" name="payment_mode">
                            <button class="btn wishlist-btn btn-block payWithRazorpay mt-2">Pay with Razorpay</button>
                            <a href="{% url 'shop' %}" style="color: black;"> <span class="orange-text">Click
                                </span>Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="{% static 'j/checkout.js' %}"></script>










    

{% include 'include/footer.html' %}

{% endblock content %}