

{% extends 'base.html' %} {% load static %} {% block content %}

<style>
    .orange-text {
        font-weight: bold;
        /* You can adjust the font weight here */
    }
</style>


<section style="background-color: #eee;" class="mt-5">
    <div class="container py-5">

        <!--Breadcrumb-->
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a href="">User
                                Profile</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Address</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center mt-4">
                        {% if userprofile.profile_picture %}
                        <img src="{{userprofile.profile_picture.url}}" alt="avatar" class=" img-fluid"
                            style="width: 200px;">
                        {% else %}
                        <img src="{% static 'path_to_default_image/default_image.jpg' %}" alt="avatar"
                            class="rounded-circle img-fluid" style="width: 150px;">
                        {% endif %}
                        <h5 class="my-3">{{ user.username | capfirst }}</h5>

                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <form method="POST" action="" class="account-form" name="address_form" enctype="multipart/form-data">
                    {% if form.error%}
                    <div class="alert alert-primary" role="alert">
                        Errror: Plese try agin
                        {% endif %}

                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div><label class="orange-text ">Full Name</label>
                                    <input type="text" name="full_name" value="{{user.first_name}} {{user.last_name}}">
                                </div>

                                <div><label class="orange-text">Email</label>
                                    <input type="email" name="email" value="{{user.email}}">
                                </div>

                                <div><label class="orange-text">Phone Number</label>
                                    <input type="text" name="phone_number" value="{{user.phone_number}}">
                                </div>

                                <div><label class="orange-text">City</label>
                                    <input type="text" name="city" value="{{user.city}}">
                                </div>



                                <div><label class="orange-text">State</label>
                                    <input type="text" name="state" value="{{user.state}}">
                                </div>

                                <div><label class="orange-text">Country</label>
                                    <input type="text" name="country" value="{{user.country}}">
                                </div>

                                

                            </div>

                            <div class="col-md-6">
                                <div class="text-center">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <button type="submit" class="btn wishlist-btn mt-2">Upload Picture</button>
                                        <input type="file" name="profile_picture">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-dark cap btn-block py-2 mb-4 mt-4 fw-bold w-100" type="submit"
                            onclick="submitform()">Save Changes</button>
                    </div>

                </form>
            </div>
        </div>
</section>

<script>
    function submitform() {
        var form = document.getElementsByName("address_form")[0];
        form.submit();
        from.reset();
        return false;
    }
</script>






{% endblock content %}