{% extends 'base.html' %} {% load static %} {% block content %}




<section style="background-color: #eee;" class="mt-5">
    <div class="container py-5">

        <!--Breadcrumb-->
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a href="">User
                                Profile</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Address</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center mt-4">
                        {% if userprofile.profile_picture %}
                        <img src="{{userprofile.profile_picture.url}}" alt="avatar" class=" img-fluid"
                            style="width: 200px;">
                        {% else %}
                        <img src="{% static 'path_to_default_image/default_image.jpg' %}" alt="avatar"
                            class="rounded-circle img-fluid" style="width: 150px;">
                        {% endif %}
                        <h5 class="my-3">{{ user.username | capfirst }}</h5>

                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label> First Name </label>
                            {{user_form.first_name}}

                        </div>
                        <div class="form-group col-md-6">
                            <label> Last Name </label>
                            {{user_form.last_name}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label> Mobile Number </label>
                            {{user_form.phone_number}}
                        </div>
                        <div class="form-group col-md-6">
                            <label> Profile Picture </label>
                            {{profile_form.profile_picture}}
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label> City </label>
                            {{profile_form.city }}
                        </div>
                        <div class="form-group col-md-4">
                            <label> State </label>
                            {{profile_form.state }}

                        </div>
                        <div class="form-group col-md-4">
                            <label> Country </label>
                            {{profile_form.country }}

                        </div>
                    </div>

                    <button class="btn cart-btn "> Save</button>
                </form>
            </div>
        </div>
</section>








{% endblock content %}