{% extends 'base.html' %}
{% load static%}
{% block content %}
{% include 'include/navbar.html' %}



<!-- breadcrumb-section -->
<div class="breadcrumb-section orders-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p></p>
          <h1>My orders</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->



<div class="cart-section mt-150 mb-150">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      {% for message in messages %}
      <div>
        <p class=" my-5 alert alert-{{message.tags}}">{{message}}</p>
      </div>
      {% endfor %}
      <div class="col-lg-8 col-md-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Name</th>
                <th scope="col">Order Date</th>
                <th scope="col">Tracking Number</th>
                <th scope="col">Status</th>

                <th scope="col">Total Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>

            <tbody>
              {% for order in orders %}
              {% for order_item in order.orderitem_set.all %}
              <tr>
                <td class="align-middle">
                  {% if order_item.product %}
                  <img src="{{ order_item.product.image_url }}" alt="{{ order_item.product.name }}"
                    style="max-width: 100px; max-height: 100px;">
                  {% else %}
                  <!-- Handle the case when there's no product -->
                  <p>No product associated</p>
                  {% endif %}
                </td>

                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">{{ order_item.product }}</p>
                </td>

                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">{{ order.created_at|date:"F j, Y" }}</p>
                </td>

                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">{{ order.tracking_no }}</p>
                </td>

                {% if order.status == 'Cancelled' %}
                <td class="text-danger "><b>{{ order.status }}</b></td>
                {% elif order.status == 'Pending' %}
                <td class="text-warning "><b>{{ order.status }}</b></td>
                {% else %}
                <td class="text-success fw-bold "> <b>{{ order.status }}</b></td>
                {% endif %}

                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">₹ {{ order_item.price }}</p>
                </td>



                <td class="align-middle">
                  <a href="{% url 'view_order' order.tracking_no %}" id="view" class="wishlist-btn">view</a>
                </td>




              </tr>
              {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- <div class="text-center mb-3">
                  <h3>Your Wishlist Is <span class="orange-text">Empty </span></h3>
                  <a href="{% url 'shop' %}" class="wishlist-btn mt-3">Go back to shopping</a>
              </div> -->


      </div>
    </div>
  </div>
</div>



{% endblock %}