{% extends 'base.html' %} {% load static %} {% block content %} {% include 'include/navbar.html' %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>See more Details</p>
					<h1>Single Product</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card shadow" style="max-width: 400px;">
                    <div class="card-body">
                        <img src="{{ single_product.images.url }}" class="img-fluid rounded" alt="Product Image" style="max-width: 100%; height: auto;">
                        <a href="{{ single_product.images.url }}">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- multiple_images -->
            {% for i in multiple_images %}
            <div class="item-slick3" data-thumb="{{ i.image.url }}">
                <div class="wrap-pic-w pos-relative">
                    <img src="{{ i.image.url }}" class="img-fluid rounded" alt="IMG-PRODUCT" style="max-width: 100%; height: auto;">
                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ i.image.url }}">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-5">
                <div class="single-product-content">
                    <h3>{{ single_product.product_name }}</h3>
                    <p class="single-product-pricing"><span>Price</span> ${{ single_product.price }}</p>
                    <p>{{ single_product.description }}</p>
                    <div class="single-product-form">
                        <form action="index.html">
                            <input type="number" placeholder="0">
                        </form>
                        <a href="{% url 'add_cart' single_product.id %}" class="btn btn-primary" ><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                        <p><strong>Category: </strong>{{ single_product.category.category_name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->






{% include 'include/footer.html' %}



{% endblock content %}