{% extends 'base.html' %} {% load static %} {% block content %}

<section style="background-color: #eee;" class="mt-5">
    <div class="container py-5">
        <!--Breadcrumb-->
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a href="">User
                                Profile</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Address</li>
                        <!-- WALLET SECTION ____________________________________________________________ -->
                        <li style="margin-left: 70%;">
                            <input type="checkbox" id="popup-toggle" style="display: none;">
                            <!-- Overlay -->
                            <div class="overlay"></div>
                            <!-- Popup Card -->
                            <div class="wallet-card">
                                <h3 style="margin-top: 5%;"><span class="orange-text">Your</span> WALLET</h3>
                                <h4>{{ user.first_name }},</h4>
                                <label for="popup-toggle" class="popup-close">&times;</label>

                                {% if wallet %}
                                <h4>Wallet Amount: ${{ wallet.balance }}</h4>
                                {% else %}
                                <p>No wallet found.</p>
                                {% endif %}

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date & Time</th>
                                            <th scope="col">Transaction Type</th>
                                            <th scope="col">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if transactions %}
                                        {% for transaction in transactions %}
                                        <tr>
                                            <td>{{ transaction.date_added }}</td>
                                            <td>{{ transaction.transaction_type }}</td>
                                            <td>${{ transaction.amount }}</td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="3">No transactions found.</td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>

                                {% if transactions.has_other_pages %}
                                <ul class="pagination">
                                    {% if transactions.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">&laquo;</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">&laquo;</span>
                                    </li>
                                    {% endif %}
                                    {% for i in transactions.paginator.page_range %}
                                    {% if transactions.number == i %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ i }}</span>
                                    </li>
                                    {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if transactions.has_next %}
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="?page={{ transactions.next_page_number }}">&raquo;</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">&raquo;</span>
                                    </li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </div>

                            <!-- Button to trigger popup -->
                            <label for="popup-toggle" class="btn btn-primary"> <i class="fas fa-wallet"></i></label>

                        </li>
                        <!-- END WALLET SECTION _____________________________________________________________________ -->
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center mt-4">
                        {% if userprofile.profile_picture %}
                        <img src="{{userprofile.profile_picture.url}}" alt="avatar" class=" img-fluid"
                            style="width: 200px;">
                        {% else %}
                        <img src="{% static 'path_to_default_image/default_image.jpg' %}" alt="avatar"
                            class="rounded-circle img-fluid" style="width: 150px;">
                        {% endif %}
                        <h5 class="my-3">{{ user.username | capfirst }}</h5>

                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <form method="POST" action="" class="account-form" name="address_form" enctype="multipart/form-data">
                    {% if form.error%}
                    <div class="alert alert-primary" role="alert">
                        Errror: Plese try agin
                        {% endif %}

                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div><label class="orange-text ">Full Name</label>
                                    : {{user.first_name}} {{user.last_name}}</div>

                                <div><label class="orange-text">Email</label>
                                    : {{user.email}}</div>

                                <div><label class="orange-text">Phone Number</label>
                                    : {{user.phone_number}}</div>

                                <div><label class="orange-text">City</label>
                                    : {{userprofile.city}}</div>

                                <div><label class="orange-text">State</label>
                                    : {{userprofile.state}}</div>

                                <div><label class="orange-text">Country</label>
                                    : {{userprofile.country}}</div>

                            </div>
                            <div class="col-md-6">
                                <div class="text-center">
                                    <label class="orange-text">Total Orders</label>
                                    <h4>{{ orders_count }}</h4>
                                </div>

                                <div class="text-center">
                                    <a href="{% url 'myorder' %}" class="boxed-btn"> View </a>
                                    <a href="{% url 'signout' %}" class="boxed-btn">Signout</a>
                                </div>

                                <div class="text-center">
                                    <a href="{% url 'shop' %}" class="wishlist-btn mt-3">Go back to shopping</a>
                                </div>
                                <div class="text-center">

                                    <a class="nav-link active text-bg-dark" aria-current="page"
                                        href="{% url 'ChangePassword' %}">Change_Password</a>
                                </div>

                            </div>
                        </div>
                        <a href="{% url 'edit_profile' %}" class="btn btn-dark py-2 mb-4 mt-4 fw-bold w-100">Edit
                            Address</a>
                    </div>
                </form>
            </div>
        </div>
</section>

{% endblock content %}