{% extends 'base.html' %} {% load static %} {% block content %}

<style>
    .orange-text {
        font-weight: bold;
        /* You can adjust the font weight here */
    }
</style>

<style>
    /* Define the styles for the wallet card */
    .wallet-card {
        width: 400px; /* Set the width of the card */
        padding: 100px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Style for the header */
    .wallet-card h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    /* Style for the wallet details */
    .wallet-card p {
        font-size: 16px;
        margin-bottom: 8px;
    }
</style>


<section style="background-color: #eee;" class="mt-5">
    <div class="container py-5">

        <!--Breadcrumb-->
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a href="">User
                                Profile</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Address</li>
                        <li style="margin-left: 70%;">
                            <input type="checkbox" id="popup-toggle" style="display: none;">

                            <!-- Overlay -->
                            <div class="overlay"></div>

                            <!-- Popup Card -->
                            <div class="wallet-card">
                                <label for="popup-toggle" class="popup-close">&times;</label>
                                
                            </div>

                            <!-- Button to trigger popup -->
                            <label for="popup-toggle" class="btn btn-primary"> <i class="fas fa-wallet"></i></label>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center mt-4">
                        {% if userprofile.profile_picture %}
                        <img src="{{userprofile.profile_picture.url}}" alt="avatar" class=" img-fluid"
                            style="width: 200px;">
                        {% else %}
                        <img src="{% static 'path_to_default_image/default_image.jpg' %}" alt="avatar"
                            class="rounded-circle img-fluid" style="width: 150px;">
                        {% endif %}
                        <h5 class="my-3">{{ user.username | capfirst }}</h5>

                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <form method="POST" action="" class="account-form" name="address_form" enctype="multipart/form-data">
                    {% if form.error%}
                    <div class="alert alert-primary" role="alert">
                        Errror: Plese try agin
                        {% endif %}

                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div><label class="orange-text ">Full Name</label>
                                    : {{user.first_name}} {{user.last_name}}</div>

                                <div><label class="orange-text">Email</label>
                                    : {{user.email}}</div>

                                <div><label class="orange-text">Phone Number</label>
                                    : {{user.phone_number}}</div>

                                <div><label class="orange-text">City</label>
                                    : {{user.city}}</div>



                                <div><label class="orange-text">State</label>
                                    : {{user.state}}</div>

                                <div><label class="orange-text">Country</label>
                                    : {{user.country}}</div>





                            </div>

                            <div class="col-md-6">
                                <div class="text-center">
                                    <label class="orange-text">Total Orders</label>
                                    <h4>{{ orders_count }}</h4>
                                </div>
                                <div class="text-center">
                                    <a href="{% url 'myorder' %}" class="boxed-btn"> View </a>
                                    <a href="{% url 'signout' %}" class="boxed-btn">Signout</a>
                                </div>

                                <div class="text-center">
                                    <a href="{% url 'shop' %}" class="wishlist-btn mt-3">Go back to shopping</a>


                                </div>
                                <!-- <div class="text-center">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        
                                        <button type="submit" class="btn wishlist-btn mt-2">Upload Picture</button>
                                        <input type="file" name="profile_picture">
                                    </form>
                                </div> -->

                            </div>


                        </div>

                        <a href="{% url 'edit_profile' %}" class="btn btn-dark py-2 mb-4 mt-4 fw-bold w-100">Edit
                            Address</a>
                    </div>

                </form>
            </div>
        </div>
</section>



<div class="tab-pane fade" id="wallet">
                                       
    <div class="row">
        <div class="col-md-6 mb-sm--20">
            <div class="text-block">
                <!-- <h4 class="mb--20">Wallet Amount</h4> -->
                <!-- {% for user_wallet in user_wallets %}
                    User: {{ user_wallet.user }}, Wallet Amount: {{ user_wallet.wallet_amount }}<br>
                {% endfor %} -->
                
               
                 
                {% for user_wallet in wallet %}
                
                <p>Wallet Amount: ${{ user_wallet.wallet_amount }}</p>
            
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date & Time</th>
                            
                            <th scope="col">Transaction Type</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in user_wallet.transactions.all %}
                            <tr>
                                <td>{{ transaction.date_added }}</td>
                                <td>{{ transaction.transaction_type }}</td>
                                <td>${{ transaction.amount }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="fade show active"><p><a href="{% url 'user:shop' %}">You Can Purchase Or Redeem</a>>
                </p></div>
               {% endfor %}

            </div>
        </div>
        
    </div>
</div>



{% endblock content %}