{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'include/navbar.html' %}



<!-- breadcrumb-section -->
<div class="breadcrumb-section wishlist-bg " class="container">

    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <div class="breadcrumb-text">
                <p>Content</p>
                <h1>wishlist</h1>
            </div>
        </div>
    </div>

</div>
<!-- end breadcrumb section -->



<div class="cart-section mt-150 mb-150">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-md-12">
                {% if products %}
                <div class="table-responsive">
                    <table class="table">
                        {% if products.0.product.images.url %}
                        <thead>
                            <tr>
                                <th scope="col" class="h5">Wishlist Bag</th>
                                <th scope="col">Category</th>

                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        {% endif %}
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <th scope="row">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ product.product.images.url }}" class="img-fluid rounded-3"
                                            style="width: 120px;" alt="Book">
                                        <div class="flex-column ms-4">
                                            <p class="mb-2">{{product.product.product_name}}</p>
                                            <p class="mb-0">{{product.product.author}}</p>
                                        </div>
                                    </div>
                                </th>
                                <td class="align-middle">
                                    <p class="mb-0" style="font-weight: 500;">{{product.product.category}}</p>
                                </td>

                                <td class="align-middle">
                                    <p class="mb-0" style="font-weight: 500;">${{product.product.price}}</p>
                                </td>



                                <td class="align-middle">
                                    <a href="{% url 'single_product' product_slug=product.product.slug %}" id="view"
                                        class="wishlist-btn"> view</a>
                                </td>



                                <td class="align-middle">
                                    <a href="{% url 'delete_from_wishlist' product_id=product.product.id %}"
                                        id="delete_from_wishlist" class="cart-btn">X</a>
                                </td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="text-center mb-3">
                    <h3>Your Wishlist Is <span class="orange-text">Empty </span></h3>
                    <a href="{% url 'shop' %}" class="wishlist-btn mt-3">Go back to shopping</a>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

