{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'include/navbar.html' %}



<!-- breadcrumb-section -->
<div class="breadcrumb-section " class="container">

    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <div class="breadcrumb-text">
                <p>Content</p>
                <h1>wishlist</h1>
            </div>
        </div>
    </div>

</div>
<!-- end breadcrumb section -->
<div class="container my-5">
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="row">
        <aside class="col-lg-12">
            {% if products %}
            <div class="card">
                <div class="table-responsive"> <!-- Add this to make the table responsive on smaller screens -->
                    <table class="table table-sm table-borderless table-shopping-cart">
                        {% if products.0.product.images.url %}
                        <!-- Display header only if there is at least one product with an image -->
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="80">Price</th>
                                <th scope="col" width="80"></th>
                                <th scope="col" width="80"></th>
                            </tr>
                        </thead>
                        {% endif %}
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="how-itemcart1">
                                            <img src="{{ product.product.images.url }}" alt="IMG"
                                                style="max-width: 200px; max-height: 100px;" />
                                        </div>
                                        <figcaption class="info">
                                            <a href="" class="title text-dark">{{product.product.product_name}}</a>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <div class="price-wrap my-3 align-items-center">
                                        <var class="price ">${{product.product.price}}</var><br />
                                    </div>
                                </td>
                                <td>
                                    <div class="price-wrap my-3">
                                        <a href="{% url 'product_detail' product_slug=product.product.slug %}"><button class="btn btn-dark btn-sm">View product</button></a>
                                    </div>
                                </td>
                               
                                <td class="">
                                    <a href="{% url 'delete_from_wishlist' product_id=product.product.id %}" class=" btn btn-danger delete-wish my-3 " data-item="{{ product.product.id }}">X</a>
                                </td>
                            </tr>
                            {% if not forloop.last %}
                            <tr style="border-bottom: 1px solid #ccc;">
                                <td colspan="4"></td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <h2 class="text-center fw-bold" style="margin: 100px;">Your wishlist is Empty</h2>
            {% endif %}
        </aside>
    </div>
</div>






{% endblock %}