<!-- Section: Design Block -->
{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="background-image"></div>

<section class="">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          The best option <br />
          <span style="color: hsl(218, 81%, 75%)">Bookwander</span>
        </h1>    
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Temporibus, expedita iusto veniam atque, magni tempora mollitia
          dolorum consequatur nulla, neque debitis eos reprehenderit quasi
          ab ipsum nisi dolorem modi. Quos?
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}" {% endif %} style="color: #fff;">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
           
          

            <form action="{% url 'Login' %}" method="POST">
              {% csrf_token %}

              <!-- {{ form.as_p }} -->
              <!-- 2 column grid layout with text inputs for the first and last names -->

              <!-- First Name -->
              <div class="row">

                <!-- Email input -->
                <div class="col-md-12 mb-4">
                  <label>Email</label>
                  {{ form.email }}

                </div>
                <!--password -->
                <div class="col-md-12 mb-4">
                  <label>Create Password</label>
                  {{ form.password }}

                </div>
              </div>
              <!-- Submit button -->
              <button type="submit" class="btn btn-black btn-block mb-4">
                Sign in
              </button>
              <ul class="error-messages">
                {% for error in form.email.errors %}
                <li>{{ error|striptags }}</li>
                {% endfor %}
                {% for error in form.non_field_errors %}
                <li>{{ error|striptags }}</li>
                {% endfor %}
              </ul>

              <!-- Register buttons -->
              <div class="text-center mt-4">
                <p>Don't have an account?<a href="{% url 'Register' %}" class="register-link"> Register</a></p>
                 <!-- FORGET PASWORD -->
                <p><a href="{% url 'password_reset' %}" class="register-link"> Forget Password</a></p>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

{% endblock content %}