{% extends 'base.html' %}
{% block content %}
<div class="background-image"></div>
<h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%); margin-left: 10%;">
    Forget Password <br />
</h1>

<div class="col-lg-6 mb-5 mb-lg-0 position-relative d-flex justify-content-center align-items-center">
    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

    <div class="card bg-glass" style="margin-left: 20%;">
        <div class="card-body px-4 py-5 px-md-5">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center mt-4">

                    <button type="submit">Submit</button>
                </div>
            </form>

        </div>
    </div>
    {% endblock content %}