{% extends 'admin_base.html' %}
{% load static%}
{% block content %}
<html>

<body class="app">
    {% include 'include/admin_navbar.html' %}
    <header class="">
        <div class="app-header-inner">
            <div class="container-fluid py-2">
                <div class="app-header-content">
                    <div class="row justify-content-between align-items-center">

                    </div><!--//row-->
                </div><!--//app-header-content-->
            </div><!--//container-fluid-->
        </div><!--//app-header-inner-->
        <div id="app-sidepanel" class="app-sidepanel sidepanel-hidden">
            <div id="sidepanel-drop" class="sidepanel-drop"></div>
            <div class="sidepanel-inner d-flex flex-column">
                <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
                <div class="app-branding">
                    <a class="app-logo" href="index.html"><img class="logo-icon me-2"
                            src="{% static 'assets/images/app-logo.svg' %}" alt="logo"><span
                            class="logo-text">PORTAL</span></a>

                </div><!--//app-branding-->

            </div><!--//sidepanel-inner-->
        </div><!--//app-sidepanel-->
    </header><!--//app-header-->

    <div class="app-wrapper">

        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">

                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">Category Management</h1>
                    </div>
                    <div class="col-auto">
                        <div class="page-utilities">
                            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                                <div class="col-auto">

                                </div><!--//col-->
                                <div class="col-auto">

                                </div>
                                <div class="col-auto">
                                    <a class="btn btn-success" href="{% url 'add_category' %}">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus me-1"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M7.5 1a.5.5 0 0 1 .5.5V7h5a.5.5 0 0 1 0 1H8v5a.5.5 0 0 1-1 0V8H1a.5.5 0 0 1 0-1h5V1.5a.5.5 0 0 1 .5-.5z" />
                                        </svg>
                                        Add
                                    </a>
                                </div>
                            </div><!--//row-->
                        </div><!--//table-utilities-->
                    </div><!--//col-auto-->
                </div><!--//row-->

                <div class="tab-content" id="orders-table-tab-content">
                    <div class="tab-pane fade show active" id="orders-all" role="tabpanel"
                        aria-labelledby="orders-all-tab">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover mb-0 text-left">
                                        <thead>
                                            <tr>
                                                <th class="cell">Id</th>
                                                <th class="cell">Category Name</th>
                                                <th class="cell">Category Slug</th>
                                                <th class="cell">Update</th>
                                                <th class="cell">Delete</th>
                                                <th class="cell"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ul class="messages">
                                                {% for message in messages %}
                                                <li {% if message.tags %} class="{{ message.error }}" {% endif %}>{{ message }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% for category in categories %}
                                            <tr>
                                                <th scope="row">{{ category.id }}</th>
                                                <td>{{ category.category_name }}</td>
                                                <td>{{ category.slug }}</td>
                                                <td>
                                                    <a href="{% url 'edit_category' category.id %}"
                                                        class="btn btn-success">Update</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'delete_category' category.id %}"
                                                        class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    
                                </div><!--//table-responsive-->
                            </div><!--//app-card-body-->
                        </div><!--//app-card-->
                    </div><!--//tab-pane-->
                </div><!--//tab-content-->
            </div><!--//container-xl-->
        </div><!--//app-content-->
    </div><!--//app-wrapper-->

    <!-- Javascript -->
    <script src="{% static 'assets/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Page Specific JS -->
    <script src="{% static 'assets/js/app.js' %}"></script>
</body>

</html>
{% endblock content %}