{% extends 'base.html' %}
{% load static%}
{% block content %}

{% include 'include/admin_navbar.html' %}
<div class="card-body">
    <h4 class="card-title">Edit Coupon</h4>

    <form class="forms-sample" action="" enctype="multipart/form-data" method="POST">
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.error }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>

        {% csrf_token %}
        
        <div class="form-group">
            <label for="coupon_code">Coupon Code</label>
            <input type="text" class="form-control" id="coupon_code" name="coupon_code" value="{{ i.coupon_code }}">
        </div>
        <div class="form-group">
            <label for="discount">Discount</label>
            <input type="number" class="form-control" id="discount" name="discount" value="{{ i.discount }}">
        </div>
        <div class="form-group">
            <label for="min_price">Minimum Price</label>
            <input type="number" class="form-control" id="min_price" name="min_price" value="{{ i.min_price }}">
        </div>
        <div class="form-group">
            <label for="start_date">Start Date</label>
            <input type="date" class="form-control" id="start_date" name="start_date" value="{{ i.start_date }}">
        </div>
        <div class="form-group">
            <label for="end_date">End Date</label>
            <input type="date" class="form-control" id="end_date" name="end_date" value="{{ i.end_date }}">
        </div>
        <!-- <div class="form-group">
            <label for="is_active">Is Active</label>
            <select class="form-control" id="is_active" name="is_active">
                <option value="true" {% if i.is_active %}selected{% endif %}>Yes</option>
                <option value="false" {% if not i.is_active %}selected{% endif %}>No</option>
            </select>
        </div> -->

        <!-- Save and Cancel Buttons -->
        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-secondary" href="{% url 'admin_side:coupon' %}">Cancel</a>
    </form>
</div>
{% endblock %}
